@font-face {
    font-family: 'spirit';
    src: url('fonts/spirit/spirit-webfont.woff2') format('woff2');
    src: url('fonts/spirit/spirit-webfont.woff') format('woff');
}
@font-face{
    font-family:'comme_light';
    src: url('fonts/comme/comme-thin-webfont.woff') format('woff');
    src: url('fonts/comme/comme-thin-webfont.woff2') format('woff2')
}
/*
@font-face{
    font-family: 'comme_reg';
    src: url('fonts/comme/comme-regular_1-webfont.woff') format('woff');
    src: url('fonts/comme/comme-regular_1-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'comme_med';
    src: url('fonts/comme/comme-medium-webfont.woff') format('woff');
    src: url('fonts/comme/comme-medium-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'comme_bold';
    src: url('fonts/comme/comme-bold-webfont.woff') format('woff');
    src: url('fonts/comme/comme-bold-webfont.woff2') format('woff2');
}
**/

:root{
    --orange: #fbaa71;
    --primary: var(--orange);

    --blue: #2685a8;
    --primary: var(--blue);

    --light_blue: #d8f6fa;
    --primary: var(--light_blue);
}

*{
    font-size: 100%;
    margin: 0;
}

.home h1{
    color: var(--blue);
    font-family: spirit;
    font-size: 4em;
    letter-spacing: .075em;
    text-align: center;
    margin: 1em 0;
}
.home h2{
    font-family: spirit;
    font-size: 3em;
    margin: .5em 0 .5em;
    text-align: center;
}

form h3{
    color: var(--orange);
    font-family: comme_light;
    font-size: 1.2em;
    text-align: center;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: 2em 0 7em;
}
.cards img{
    margin: 1em .5em;
    border-radius: 17px;
    box-shadow: 0 5px 10px 4px lightgray;
}

link:hover{
    box-shadow: gray;
}

.scroll{
    box-sizing: border-box;
    margin: 13% 0;
    height: 100%;
}
.about{
    background-color: var(--light_blue);
    box-sizing: border-box;
    margin: auto;
    padding: 2em 16.5% 4em;
    
}
.about header{
    font-family: spirit;
    font-size: 2.5em;
    margin: 1em 0;
}
.about p{
    font-family: comme_light;
    font-size: 1.2em;
    line-height: 2em;
    margin: 1em 0;
    text-shadow: .25px .25px .2px black;
}