/*FLIP-CARD: https://www.w3schools.com/howto/howto_css_flip_card.asp**/

@font-face {
    font-family: 'spirit';
    src: url('fonts/spirit/spirit-webfont.woff2') format('woff2');
    src: url('fonts/spirit/spirit-webfont.woff') format('woff');
}
@font-face{
    font-family:'comme_light';
    src: url('fonts/comme/comme-thin-webfont.woff') format('woff');
    src: url('fonts/comme/comme-thin-webfont.woff2') format('woff2')
}

@font-face{
    font-family: 'comme_reg';
    src: url('fonts/comme/comme-regular_1-webfont.woff') format('woff');
    src: url('fonts/comme/comme-regular_1-webfont.woff2') format('woff2');
}
/*
@font-face{
    font-family: 'comme_med';
    src: url('fonts/comme/comme-medium-webfont.woff') format('woff');
    src: url('fonts/comme/comme-medium-webfont.woff2') format('woff2');
}
@font-face{
    font-family: 'comme_bold';
    src: url('fonts/comme/comme-bold-webfont.woff') format('woff');
    src: url('fonts/comme/comme-bold-webfont.woff2') format('woff2');
}
**/

:root{
    --orange: #fbaa71;
    --primary: var(--orange);

    --blue: #2685a8;
    --primary: var(--blue);

    --light_blue: #d8f6fa;
    --primary: var(--light_blue);
}

*{
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
}

.home h1{
    color: var(--blue);
    font-family: spirit;
    font-size: 4em;
    letter-spacing: .075em;
    text-align: center;
    margin: .75em 0 .65em;
}
.home h2{
    font-family: spirit;
    font-size: 3em;
    margin: .1em 0 .5em;
    text-align: center;
}

h3{
    color: var(--orange);
    font-family: comme_reg;
    font-size: 1.2em;
    text-align: center;
    margin: 1.5em 0 1em;
}
form{
    font-family: comme_light;
    width: 20%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 55.5% 44.5%;
    grid-area: 'form1 form2';
    grid-column-gap: .65rem;
}
.form1 input{
    width: 50px;
}
.form2{
    width: 100px;
    justify-self: right;
}
.form2 input{
    width: 100px;
}
form input{
    border-style: solid;
    border-width: 1px;
    padding: .25rem .5rem;
}
input[type=text]{
    font-family: comme_light;
    font-size: .8rem;
}


.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
.flip-card-front{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1em 0 7em;
    perspective: 1000px;
}
.flip-card-front img{
    margin: 1em .5em;
    border-radius: 17px;
    box-shadow: 0 5px 10px 4px lightgray;
}
.flip-card-front img:hover{
    box-shadow: 0 5px 10px 4px #b3afaf;

}

    .flip-card-back{
        position: absolute;
        z-index: 1;
        top: 300px;
        left: 2em;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        margin: 2em 7em;
        max-width: 80%;

        transition: transform 0.8s;
        transform-style: preserve-3d;

    }

    .flip-card-back img{
        margin: 1em .5em;
        border-radius: 17px;
        box-shadow: 0 5px 10px 4px lightgray;
        max-height: 210px;
    }

    .flip-card-front, .flip-card-back {
        position: relative;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    .flip-card:hover .flip-card-back {
        transform: rotateY(180deg);
    }


 
    
.scroll{
    box-sizing: border-box;
    margin: 13% 0;
    height: 100%;
}
.about{
    background-color: var(--light_blue);
    box-sizing: border-box;
    margin: auto;
    padding: 2em 16.5% 4em;
    
}
.about header{
    font-family: spirit;
    font-size: 2.5em;
    margin: 1em 0;
}
.about p{
    font-family: comme_light;
    font-size: 1.2em;
    line-height: 2em;
    margin: 1em 0;
    text-shadow: .25px .25px .2px black;
}


    /* POP-UP **/
    
    [hidden] {
        display: none;
    }
    

    button:hover{
        cursor: pointer;
    }

    button{
        background-color: transparent;
        border: 0;
    }
    .card:hover{

    }

    .pop-up{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        background: rgba(216, 246, 250, 0.7);

        height: 100%;
        width: 100%;

        visibility: hidden;
    }
    .pop-up_box{
        opacity: 100%;
        background-color: white;
        max-width: 70%;

        margin: auto;
        position: absolute;
        top: 12.5%;
        left: 15%;

        padding: 4em;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 80%;
        align-items: center;
    }

    .pop-up_box img{
        border-radius: 17px;
        box-shadow: 0 5px 10px 4px lightgray;
        grid-area: 1/1/3/2;
        max-width: 100%;
    }
    .pop-up_box h1{
        font-family: spirit;
        font-size: 2.5em;
    }
    .pop-up_box p{
        font-family: comme_light;
        font-size: 1.2em;
        text-align: start;
    }